In [1]:
list = [200, 10, 53, 25, 87, 98]
even_list = [num for num in list if num % 2 == 0]
odd_list = [num for num in list if num % 2 != 0]
print(even_list)
print(odd_list)

[200, 10, 98]
[53, 25, 87]

In [3]:
(10<7) or (6==5)

False

In [5]:
(10<7) and (6 == 6)

False

In [7]:
list = [30, 40, 4, 0]
4 in list

True

In [9]:
4 not in [30, 40, 4, 0]

False

In [11]:
my_list = [10, 20, 30, 40]
print(my_list[1])
print(my_list[1:3])
print(my_list[1:])
print(my_list[:3])
print(my_list[:])

20
[20, 30]
[20, 30, 40]
[10, 20, 30]
[10, 20, 30, 40]

In [13]:
a = 1
b = -5
c = 5
root1 = ((-1*b) + (b**2 - 4*a*c)**0.5) / 2*a
root1

3.618033988749895

In [15]:
a = 1
b = -5
c = 5
root2 = ((-1*b) - (b**2 - 4*a*c)**0.5) / 2*a
root2

1.381966011250105

In [25]:
#accessing element directly
my_list = [10, 20, 30, 40]
for item in my_list:
    print(3*item)

30
60
90
120

In [23]:
#accessing using index value
my_list = [10, 20, 30, 40]
for x in range(len(my_list)):
    print(3*my_list[x])

30
60
90
120

In [83]:
orders = [["apple", 10], ["banana", 5], ["cherry", 7], ["banana", 5]]
new_order1 = ["date", 12]
orders.append(new_order1)
orders

[['apple', 10], ['banana', 5], ['cherry', 7], ['banana', 5], ['date', 12]]

In [85]:
new_orders = [["date", 10], ["mango", 6]]
orders.extend(new_orders)
orders

[['apple', 10],
 ['banana', 5],
 ['cherry', 7],
 ['banana', 5],
 ['date', 12],
 ['date', 10],
 ['mango', 6]]

In [87]:
new_order2 = ["dragon", 10]
orders.insert(3,new_order2)
orders

[['apple', 10],
 ['banana', 5],
 ['cherry', 7],
 ['dragon', 10],
 ['banana', 5],
 ['date', 12],
 ['date', 10],
 ['mango', 6]]

In [89]:
#remove a duplicate order
orders.pop(3)

['dragon', 10]

In [97]:
#Using for loop print the quantity of dragon
for item in orders:
    if item[0] == "dragon":
        print(item[1])

In [37]:
orders = [['apple', 10], ['banana', 5], ['cherry', 7], ['dragon', 10], ['grape', 9]]
for each in orders:
    if each[0] == "cherry":
        each[1] = 10
print(orders)

[['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10], ['grape', 9]]

In [47]:
orders.append(["apple", 10])
print(orders)

[['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10], ['grape', 9], ['apple', 10], ['apple', 10], ['apple', 10]]

In [49]:
total = []
for each_item in orders:
    if each_item[0] == "apple":
        total.append(each_item[1])
print(total)
print(sum(total))

[10, 10, 10, 10]
40

In [57]:
#Tuples 
Tup1 = (3, 4, 9, 'A', 5.2)
Tup2 = "Hello", 5, 10, 20
Tup3 = tuple([1, 2, 3, 4])
print(Tup1)
print(Tup2)
print(Tup3)
print(type(Tup1))
print(type(Tup2))
print(type(Tup3))

(3, 4, 9, 'A', 5.2)
('Hello', 5, 10, 20)
(1, 2, 3, 4)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [59]:
#Slicing the tuple
Tup1 = (3, 4, 9, 'A', 5.2)
Tup1[2:4]

(9, 'A')

In [61]:
Tup2 = "Hello", 5, 10, 20
Tup2[3:5]

(20,)

In [65]:
#index() method
Tup1.index(5.2)

4

In [67]:
#count() method to count
Tup2 = (10, 20, 30, 10, 40, 10, 50, 10)
Tup2.count(10)

4

In [69]:
#Dictionaries
#dic = {key : value pairs}
#They are mutable
#unordered
#Keys must be hashable and unique
#values can be of any data types

In [71]:
#Create dictionary using {} braces
d1 = {"a": 1, "b": 2, "c": 3}
print(d1)
print(type(d1))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [73]:
#create dictionary using dict() constructor
d2 = dict(A=10, B=20, C=30)
print(d2)

{'A': 10, 'B': 20, 'C': 30}

In [75]:
#Create dictionary with a list of tuples
d3 = dict([("x", 1), ("y", 2), ("z", 3)])
print(d3)

{'x': 1, 'y': 2, 'z': 3}

In [1]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [7]:
scores = {'Virat': 100, 'Rohit':90, 'Rahul': 70, 'Hardik':9, 'Gill': 20, 'Jadeja': 15}
scores

{'Virat': 100, 'Rohit': 90, 'Rahul': 70, 'Hardik': 9, 'Gill': 20, 'Jadeja': 15}

In [9]:
scores["Aswin"] = 15
scores

{'Virat': 100,
 'Rohit': 90,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 15,
 'Aswin': 15}

In [11]:
#Update jadeja score to 50
scores.update({"Jadeja": 50})
scores

{'Virat': 100,
 'Rohit': 90,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 50,
 'Aswin': 15}

In [15]:
scores.update({"Gill": 30})
scores

{'Virat': 100,
 'Rohit': 90,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 30,
 'Jadeja': 50,
 'Aswin': 15}

In [17]:
scores.update({"Hardik": 29, "Rohit": 80})
scores

{'Virat': 100,
 'Rohit': 80,
 'Rahul': 70,
 'Hardik': 29,
 'Gill': 30,
 'Jadeja': 50,
 'Aswin': 15}

In [30]:
#setdefault will not update
scores.setdefault('Rahul', 60)
scores

{'Virat': 100,
 'Rohit': 80,
 'Rahul': 70,
 'Hardik': 29,
 'Gill': 30,
 'Jadeja': 50,
 'Aswin': 15}

In [34]:
scores.setdefault('Pujara', 50)
scores
#Pujara is not present so it will add

{'Virat': 100,
 'Rohit': 80,
 'Rahul': 70,
 'Hardik': 29,
 'Gill': 30,
 'Jadeja': 50,
 'Aswin': 15,
 'Pujara': 50}

In [38]:
#Last pair will be removed by popitem() method
scores.popitem()
scores

{'Virat': 100,
 'Rohit': 80,
 'Rahul': 70,
 'Hardik': 29,
 'Gill': 30,
 'Jadeja': 50}

In [40]:
scores.pop('Gill')
scores

{'Virat': 100, 'Rohit': 80, 'Rahul': 70, 'Hardik': 29, 'Jadeja': 50}

In [46]:
#Retrieve value from dict by get() method
scores.get("Virat")

100

In [48]:
#use of fromkeys() method to create a new dict
list1 = ["A","B","C","D"]
my_dict = dict.fromkeys(list1)
my_dict

{'A': None, 'B': None, 'C': None, 'D': None}

In [52]:
my_dict.update({"A":10,"B":20})
my_dict

{'A': 10, 'B': 20, 'C': None, 'D': None}

In [56]:
print(scores.keys())
print(scores.values())
print(scores.items())

dict_keys(['Virat', 'Rohit', 'Rahul', 'Hardik', 'Jadeja'])
dict_values([100, 80, 70, 19, 50])
dict_items([('Virat', 100), ('Rohit', 80), ('Rahul', 70), ('Hardik', 19), ('Jadeja', 50)])

In [60]:
#for loop to access the dictionaries
#use for loop to update 'Hardik' score to 19
for k in scores.keys():
    if k == 'Hardik':
        scores[k] = 19
scores

{'Virat': 100, 'Rohit': 80, 'Rahul': 70, 'Hardik': 19, 'Jadeja': 50}

In [62]:
#use for loop to compute total scores
scores_list = []
for v in scores.values():
    scores_list.append(v)
print(scores_list)
print("Total Score: ", sum(scores_list))

[100, 80, 70, 19, 50]
Total Score:  319

In [64]:
#use for loop to compute each cricketr's contribution to total score
total_score = sum(scores.values())
print(total_score)

for k,v in scores.items():
    print(f"Contribution of {k} to total score: {(v/total_score)*100}")

319
Contribution of Virat to total score: 31.347962382445143
Contribution of Rohit to total score: 25.07836990595611
Contribution of Rahul to total score: 21.9435736677116
Contribution of Hardik to total score: 5.956112852664576
Contribution of Jadeja to total score: 15.673981191222571