In [1]:
#conventional if-else
num = 6
if num %2 == 0:
    print("even")
else:
    print("odd")

even

In [3]:
print("even") if num %2 == 0 else print("odd")

even

In [7]:
x = -10
result = "Positive" if x > 0 else "Negative"
print(result)

Negative

In [9]:
#nested if-else in one line
num = int(input("Enter a number: "))
result = "Positive" if num > 0 else ("Negative" if num < 0 else "Zero")
print(result)

Enter a number:  100

Positive

In [30]:
num = int(input("Enter a number: "))
result = "Positive" if num > 0 else ("Negative" if num < 0 else "Zero")
print(result)

Enter a number:  -200

Negative

In [32]:
#List comprehension
#print even numbers
L = [1,9,2,10,56,89]
[x for x in L if x%2 == 0]

[2, 10, 56]

In [27]:
#List comprehension
#print odd numbers
L = [1,9,2,10,56,89]
[x for x in L if x%2 != 0]

[1, 9, 89]

In [34]:
#List comprehension
L = [1,9,2,10,56,89]
[x*2 for x in L]

[2, 18, 4, 20, 112, 178]

In [40]:
#print updated salaries
#condition is give 20% hike for 
#salaries <= 50000
salaries = [25000, 30000, 45000, 55000, 65000]
updated_salaries = [(salary * 1.2 if salary <= 50000 else salary) for salary in salaries]
print(updated_salaries)

[30000.0, 36000.0, 54000.0, 55000, 65000]

In [44]:
#Dictionary comprehension
d1 = {'Ram':[70,71,98,100], 'John':[56,98,67,65]}
d1

{'Ram': [70, 71, 98, 100], 'John': [56, 98, 67, 65]}

In [46]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'John': 71.5}

In [48]:
#Write a user defined function to compute average
#Define function(reusable)
def mean_value(given_list):
    total = sum(given_list)
    average_value = total/len(given_list)
    return average_value

In [50]:
#call the function
L = [1,2,3,4,5,6,7,8,9,10]
mean_value(L)

5.5

In [54]:
#Write a user defined function to Greet with "Good Morning" with your name
#call this function with your name
def greet(name):
    print(f"Good Morning {name}!")
greet("rasagna")

Good Morning rasagna!

In [56]:
def greet(name = "rasagna"):
    print(f"Good Morning {name}!")
greet()

Good Morning rasagna!

In [62]:
#function with variable number of arguments
def avg_value(*n):
    l = len(n)
    average = sum(n)/l
    return average

In [64]:
avg_value(10,20,60,90)

45.0