In [1]:
greet = lambda name : print(f"Good Morning {name}!")

In [3]:
greet("Rasagna")

Good Morning Rasagna!

In [9]:
#product of three numbers 
product = lambda x,y,z : x*y*z
product(2, 3, 4)

24

In [11]:
#Lambda functions with list comprehension
even = lambda L : [x for x in L if x%2 == 0]

In [13]:
my_list = [100,3,9,38,43,56,20]
even(my_list)

[100, 38, 56, 20]

In [17]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
})
print(df)

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000

In [19]:
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}

df = pd.DataFrame(data)
print("First 2 rows:")
print(df.head(2))
df['Bonus'] = df['Salary'] * 0.10
average_salary = df['Salary'].mean()
print("\nAverage Salary:", average_salary)

First 2 rows:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

Average Salary: 47500.0